@import '../../paleta.scss';

.container-product {
  margin: 90px auto !important;

  h2 {
    font-weight: 800;
    font-size: 46px;
    line-height: 70px;
    max-width: 474px;
    margin: 0 auto;
    text-align: center;
  }

  .products-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 60px 0;

    .card {
      border: 3px solid #F6F5F6;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 15px;
      text-align: center;
      position: relative;

      img {
        margin-top: 20px;
      }

      .category {
        background: $primaryColor;
        border-radius: 5px;
        color: $white;
        padding: 2px 10px;
        position: absolute;
        left: 10px;
        top: 10px;
        font-size: 14px;
      }
      h4 {
        margin-bottom: 20px;
      }
      .price {
        font-weight: 800;
        font-size: 25px;
        line-height: 34px;
      }
      &:hover {
        border: 3px solid $primaryColor;
        transition: 0.8s;
      }
    }
  }

  @media(max-width: 980px) {
    .products-cards {
      grid-template-columns: 1fr;
    }
  }
}