@import '../../paleta.scss';

.cta {
  border-radius: 5px;
  border: 0;
  padding: 15px 10px;
  cursor: pointer;
  color: $white;
  background-color: $black;
  border: 1px solid $black;
  min-width: 194px;
  margin: 0 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  &:hover {
    border: 1px solid $primaryColor;
    background-color: $white;
    color: $primaryColor;
    font-weight: 800;
  }
}

#stroke {
  border: 1px solid $black;
  background-color: $white;

  &:hover {
    border: 1px solid $primaryColor;
    transition: 0.3s;
  }
}