@import '../../paleta.scss';

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cta-pedido {
    border: 1px solid $black;
    color: $black;
    border-radius: 5px;
    padding: 10px;
    background-color: $white;
    cursor: pointer;

    &:hover {
      border: 1px solid $primaryColor;
      transition: 0.3s;
    }
  }
}

@media (max-width: 980px) {
  .container-header {
    justify-content: space-evenly;
  }
}