@import '../../paleta.scss';

.container-banner {
  border: 3px solid $primaryColor;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;

  .content-buy {
    max-width: 450px;
    margin: 0 90px;

    h1 {
      font-weight: 800;
      font-size: 72px;
      line-height: 70px;
      color: $black;
    }
    .bullet-compra {
      margin: 15px;
      
      .item {
        font-weight: normal;
        font-size: 16px;
        line-height: 30px;
        color: $black;
        list-style: none;
        margin-bottom: 14px;

        a {
          color: $primaryColor;
          font-weight: bold;
          text-decoration: none;
          cursor: pointer;
        }

        &:before {
          content: url('../../images//raio.svg');
          margin-right: 10px;
        }
      }
    }
  }

  .donut {
    position: absolute;
    right: -55px;
    bottom: -80px;
  }
  .homer-simpson {
    position: relative;
    bottom: -60px;
    left: 50px;
  }
}

@media (max-width: 980px) {
  .container-banner {
    flex-direction: column;
    margin: 15px !important;
    min-height: 430px;

    .content-buy {
      margin: 0 10px;
      h1 {
        font-size: 48px;
      }
      .cta {
        width: 95%;
      }
    }

    .homer-simpson {
      display: none;
    }
    .donut {
      width: 50px;
      height: auto;
      right: -6px;
      bottom: -20px;
    }
  }
}